<%- include ('../partials/header') %>
	<section id="content">
		<%- include ('../partials/home') %>
		<%- include ('../partials/code') %>
		<%- include ('../partials/example') %>
		<%- include ('../partials/about') %>
		<%- include ('../partials/culture') %>
		<%- include ('../partials/contact') %>
	</section>
<%- include ('../partials/footer') %>
